.map{
    height: 100vh;
    width: 100%;
}

.rounded-img {
    width: 40px;       /* Висота і ширина, яка відповідає вашій іконці */
    height: 40px;
    border-radius: 50%; /* Округлення, щоб зробити кругле зображення */
    object-fit: cover;  /* Щоб зображення добре вписувалося в круг */
  }