@use "../_variables" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: $blue;
  overflow-y: auto; 
  height: fit-content;
  max-height: 80vh;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 60%;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  overflow-x: hidden;
  flex-shrink: 0;
  container-type: inline-size; 
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out, clip-path 0.2s ease-in-out;
}

.modal-content::-webkit-scrollbar {
  width: 2px; 
}

.modal-content::-webkit-scrollbar-track {
  background: transparent; 
  margin: 1rem 0; 
}

.modal-content::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 15px;
  margin: 1rem 0; 
}

.close-button {
  display: flex;
  justify-self: right;
  background: none;
  border: none;
  padding: 0px;
  font-size: 20px;
  cursor: pointer;
}

.modalData {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $dark;

  .photo {
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    display: flex;
    font-size: 2.5;
    align-items: center;
    justify-content: center;
    background-color: $white;
    flex-shrink: 0; 
  }

  .info{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.25rem;
      max-width:min-content; 
      display: inline-block; 
    }
  
    .city{
      font-size: 1rem;
    }
  }
  

  .weatherIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-left: auto;
  }
}

.modalWeather {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  padding: 1rem;
  background-color: $dark_blue;
  box-shadow: 0 0 10px rgba($dark, 0.5);
  border-radius: 0px 0px 15px 15px;
  gap: 0.5rem;
}

.modalWeather::-webkit-scrollbar {
  height: 2px; 
}

.modalWeather::-webkit-scrollbar-track {
  background: transparent; 
  margin: 0 15px; 
}

.modalWeather::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 15px;
  margin: 0 15px; 
}


.modalHourWeather {
  z-index: 10;
  padding: 0.5rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  color: $white;

  .weatherIcon {
    font-size: 2rem;
  }
}

.date-selector {
  margin-top: 1rem;
  display: flex;
  list-style: none;
  background-color: transparent;
  overflow-x:scroll;
  width: 100%;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  .date-btn {
    white-space: nowrap;

    //border: 1px solid red;
    border-radius: 15px 15px 0px 0px;
    padding: 1rem;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: transparent;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Додаємо анімацію для зміщення */
    position: relative;

    &.hide{
      cursor:auto;
      min-width: 15px;
      width: 15px;
      padding: 0px;
      margin: 0px;
    }

    &:not(.active) {
      color: $dark;
    }

    &.active {
      border-bottom: none;
      background-color: $dark_blue;
    }

    &.active + *{
      border-radius: 15px 15px 0px 15px;
      box-shadow: 0px 15px 0 $dark_blue;
    }
    &:has(+ *.active){
      border-radius: 15px 15px 15px 0px;
      box-shadow: 0px 15px 0 $dark_blue;
    }

    .weatherIcon {
      font-size: 2rem;
    }

    div {
      text-align: center;
    }
  }
}

@media (width <= 650px) {
  .modalData{
    .name{
      font-size: 1.15rem;
    }
    .weatherIcon{
      font-size: 1.5rem;
    }
  }
}


