@use './_variables' as *;

.Menu{
  position: absolute;
  z-index: 2;
}

.Map{
  position: relative;
  z-index: 1;
}

button:active{
  outline:none
}

button:focus-visible {
  outline: 1px solid $dark_blue;
}

button.notActive,
button.newUser,
button.secondButton {
  outline-color: $dark;
}

.dot-container {
  display: flex;
  gap: 5px;
  font-size: 24px;
}

.dot {
  animation: bounce 1.2s infinite ease-in-out;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px); /* Піднімання */
  }
}
