@use './_variables' as *;

#root,
body{
  margin: 0%;
  padding: 0%;
  background-color: $dark;
}

:root {
  --active-top: 0px;
  --active-left: 0px;
  --active-width: 0px;
  --active-height: 0px

  --modal-top: 0px;
  --modal-left: 0px;
  --modal-width: 0px
  --modal-height: 0px
}